div ng-controller="IndexController"
  | {{title}}


.row
  .col-md-12
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand href="#"
            p.lead App Manager

.row
  ul.list-group
    -@sites.each do |site|
      .col-xs-4
        li.list-group-item
          .col-xs-10
            p.lead
              =site.name
            =site.status
            =site.port
            p.lead
              a(href="http://localhost:#{site.port}" target="_blank")
                ="localhost:#{site.port}"

          .col-xs.2
            form action="/sites/#{site.name}/on" method="post"
              input.btn.btn-success type="submit" value='On'
            form action="/sites/#{site.name}/off" method="post"
              input.btn.btn-danger type="submit" value='Off'

